<!doctype html>
<meta name="robots" content="noindex">
<html ng-app='APP'>
    <head>
        <meta name="description" content="Angular Nested recursive directives" />
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body ng-controller="IndexCtrl">
        <table class="table">
            <thead>
                <tr>
                    <th>villes</th>
                </tr>
            </thead>
            <tbody>
                <collection collection='tasks'></collection>
            </tbody>
        </table>
<pre class="info"><collection collection='tasks'></collection></pre>
    </body>
<script id="jsbin-javascript">
        (function(angular) {
    'use strict';
        angular.module('APP', []).directive('collection', function () {
        var link = {post:function(scope, element, attrs){
        $(element[0].nextSibling).find('tbody').append($(element[0]));
        }};
        return {
        restrict: "E",
        replace: true,
        link:link,
        scope: {
        collection: '='
        },
        template: "<member ng-repeat='member in collection' member='member'></member>"
        };
        })
        .directive('member', function ($compile) {
        return {
        restrict: "E",
        replace: true,
        scope: {
        member: '='
        },
            template: "<tr><td>{{member.name}}</td></tr>",
        link: function (scope, element, attrs) {
        if (angular.isArray(scope.member.children)) {
                
                var target = document.querySelector(scope.target);
        element.append("<collection collection='member.children'></collection>");
                
        $compile(element.contents())(scope);
                
        }
        }
        };
        })
        .controller('IndexCtrl', function ($scope) {
        $scope.tasks = [
        {
        name: 'Europe',
        children: [
        {
        name: 'Italy',
        children: [
        {
        name: 'Rome'
        },
        {
        name: 'Milan'
        }
        ]
        },
        {
        name: 'Spain'
        }
        ]
        },
        {
        name: 'South America',
        children: [
        {
        name: 'Brasil'
        },
        {
        name: 'Peru'
        }
        ]
        }
        ];
        });
        })(window.angular);
</script>

</html>